<div class='container'>
  <h1><img style="height:70%; width:70%; position:relative; left:175px" src="/assets/logo.png"/></h1>

  <div>
    <hr>
    <%= react_component('RecipeSearcherByIngredient') %>
  </div>
</div>