/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */
@import "variables";

ul {
  margin: 0;
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

header {
  height: 5rem;
  align-items: center;
  background-color: $palette_blue_lighter;
  color: white;
  display: flex;
  a {
    color: white;
    &:hover {
      color: $palette_grey_medium_dark;
    }
  }

  .left-nav {
    margin: 1rem;
    display: flex;
    align-items: center;

    .search-box {
      position: relative;
      width: 30rem;
      height: 34px;
      margin: 0 3rem;
    }
  }
  .right-nav {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 auto;

    > div {
      margin: 0 1rem;
    }
  }

}