@import 'variables';

.recipe-list {
  .recipe {
    display: block;
    color: $palette_grey_darkest;
    text-decoration: none;
    background-color: white;
    box-shadow: 1px 1px 5px 0px $palette_grey_medium_light;
    padding: 1rem;
    margin: 1rem;

    .recipe-name {
      font-size: 2rem;
      font-weight: bold;
    }

    .recipe-info {
      margin-top: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-height: 1.3rem;
      max-height: 3.9rem
    }
  }

  a.recipe:hover {
    background-color: $palette_grey_lighter;
    cursor: pointer;
  }

}

.recipe-page {
  margin-top: 2rem;
  .recipe-image {
    width: 100%;
  }

  .recipe-preparation-steps {
    white-space: pre-wrap;
    display: block;
    unicode-bidi: embed;
    text-overflow: clip;
  }

}