@import 'variables';

.recipe-list {
  .recipe {
    display: block;
    color: $palette_grey_darkest;
    text-decoration: none;
    background-color: white;
    box-shadow: 1px 1px 5px 0px $palette_grey_medium_light;
    padding: 1rem;
    margin: 1rem;

    .recipe-name {
      font-size: 2rem;
      font-weight: bold;
    }

    .recipe-image {
      img {
        width: 100%
      }
    }

  }

  a.recipe:hover {
    background-color: $palette_grey_lighter;
    cursor: pointer;
  }

}

.recipe-page {
  margin-top: 2rem;
  .recipe-image {
    width: 100%;
  }

  .ingredients-list {
    .ingredient {
      display: flex;
      > .ingredient-name {
        flex: 1 1 auto;
      }
      > .ingredient-quantity {
        flex: 0 0 4rem;
      }
    }
  }
  .recipe-preparation {
    margin-top: 2rem;
    .recipe-preparation-steps {

    }
  }

}

.new_recipe, .edit_recipe {
  textarea {
    height: 30rem;
  }
}

.ingredient-list {
  border-top: 1px solid $palette_grey_medium_light;
  .ingredient-list-header {

  }

  .list {
    .item {
      margin: 0.5rem 0;
    }
  }
  .input {
    margin-top: 1rem;
  }
}

.recipe-complexity-simple, .recipe-cost-cheap {
  color: $palette_green_lightest !important;
}

.recipe-complexity-medium, .recipe-cost-affordable {
  color: $palette_yellow_lightest !important;
}

.recipe-complexity-hard, .recipe-cost-expensive {
  color: $palette_orange_lightest !important;
}